// CSS image replacement
// 常用于网站logo中的技术，将标题替换成logo，但同时保留文本标签，
// 以方便SEO和屏幕阅读器等设备

// Deprecated
.hide-text() {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-hide() {
  .hide-text();
}
